    /* PIG GAME */
    /* TUT82 */
    
    @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
    }
    
    html {
        font-size: 62.5%;
        box-sizing: border-box;
    }
    
    dice-6.png dice-1.png dice-2.png dice-3.png dice-4.png dice-5.png html {
        font-size: 62.5%;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        height: 100vh;
        color: #333;
        background-image: linear-gradient(to top left, #d6dd4d 30%, #68ef47 100%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* LAYOUT */
    
    main {
        position: relative;
        width: 100rem;
        height: 60rem;
        background-color: rgba(255, 255, 255, 0.35);
        backdrop-filter: blur(200px);
        filter: blur();
        box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
        border-radius: 9px;
        overflow: hidden;
        display: flex;
    }
    
    h1 {
        font-size: 4rem;
    }
    
    .player {
        flex: 50%;
        padding: 9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.75s;
    }
    /* ELEMENTS */
    
    .name {
        position: relative;
        font-size: 4rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 2px;
        font-weight: 300;
        margin-bottom: 1rem;
    }
    
    .score {
        font-size: 8rem;
        font-weight: 300;
        color: #c7365f;
        margin-bottom: auto;
    }
    
    .activePlayer {
        background-color: rgba(255, 255, 255, 0.4);
    }
    
    .activePlayer .name {
        font-weight: 700;
    }
    
    .activePlayer .score {
        font-weight: 400;
    }
    
    .activePlayer .current {
        opacity: 1;
    }
    
    .current0 {
        background-color: #c7365f;
        opacity: 0.8;
        border-radius: 9px;
        color: #fff;
        width: 65%;
        padding: 2rem;
        text-align: center;
        transition: all 0.75s;
    }
    
    .current1 {
        background-color: #c7365f;
        opacity: 0.8;
        border-radius: 9px;
        color: #fff;
        width: 65%;
        padding: 2rem;
        text-align: center;
        transition: all 0.75s;
    }
    
    .currentLabel {
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-size: 1.7rem;
        color: #ddd;
    }
    
    .currentScore {
        font-size: 3.5rem;
    }
    /* ABSOLUTE POSITIONED ELEMENTS */
    
    .btn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: #444;
        background: none;
        border: none;
        font-family: inherit;
        font-size: 1.8rem;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 400;
        transition: all 0.2s;
        background-color: white;
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(10px);
        padding: 0.7rem 2.5rem;
        border-radius: 50rem;
        box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
    }
    
    .lvlBtn {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50px);
        color: #444;
        background: none;
        border: none;
        font-family: inherit;
        font-size: 1.8rem;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 400;
        transition: all 0.2s;
        background-color: white;
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(10px);
        /* padding: 0.7rem 2.5rem; */
        padding: 15px 20px 15px 20px;
        border-radius: 50rem;
        box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
    }
    
    .btn::first-letter {
        font-size: 2.4rem;
        display: inline-block;
        margin-right: 0.7rem;
    }
    
    .btnNew {
        top: 4rem;
    }
    
    .btnRoll {
        top: 39.3rem;
    }
    
    .btnHold {
        top: 46.1rem;
    }
    
    .btn:active,
    .lvlBtn:active {
        transform: translate(-50%, 3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    }
    
    .btn:focus,
    .lvlBtn:focus {
        outline: none;
    }
    
    .dice {
        position: absolute;
        left: 50%;
        top: 16.5rem;
        transform: translateX(-50%);
        height: 10rem;
        box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
    }
    
    .player--winner {
        background-color: #5ccfe6;
    }
    
    .player--winner .name {
        font-weight: 700;
        color: #4ec736;
    }
    
    .player--winner .score {
        font-weight: 700;
        color: #d8d638;
    }
    
    .hidden {
        display: none;
    }
    
    .winMessage {
        transform: translateX(100px);
        position: absolute;
        padding: 20px;
        background-color: transparent;
        /* transform: translateX(-580px); */
        color: darkred;
    }
    
    ----------------------------------------------------------------------------------------------------- */
    /* Countdown Clock */
    
    .base-timer {
        position: relative;
        width: 200px;
        height: 200px;
    }
    
    .base-timer__svg {
        transform: scaleX(-1);
    }
    
    .base-timer__circle {
        fill: none;
        stroke: none;
    }
    
    .base-timer__path-elapsed {
        stroke-width: 7px;
        stroke: grey;
    }
    
    .base-timer__path-remaining {
        stroke-width: 7px;
        stroke-linecap: round;
        transform: rotate(90deg);
        transform-origin: center;
        transition: 1s linear all;
        fill-rule: nonzero;
        stroke: currentColor;
    }
    
    .base-timer__path-remaining.green {
        color: rgb(65, 184, 131);
    }
    
    .base-timer__path-remaining.orange {
        color: orange;
    }
    
    .base-timer__path-remaining.red {
        color: red;
    }
    
    .base-timer__label {
        position: absolute;
        width: 200px;
        height: 200px;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 48px;
    }
    
    #app {
        transform: translateX(-100px);
    }
    /* ---------------------------------------------------------------------------------------------- */
    
    .roundInfo {
        color: #c7365f;
        font-weight: bolder;
        font-size: xx-large;
        transform: translateY(-330px);
        /* transform: translateX(200px); */
    }
    /* ----------------------------------------------------------------------------------------------- */
    
    .instBtn {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 500px);
        color: #4ec736;
        border: none;
        font-family: inherit;
        font-size: 2rem;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 400;
        transition: all 0.2s;
        background-color: beige;
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(10px);
        padding: 15px 20px 15px 20px;
        box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
    }
    
    .inst {
        /* display: none; */
        /* visibility: hidden; */
        transform: translateZ(100px);
        position: relative;
        background-color: white;
        padding: 1em 2em;
    }
    
    #modal {
        transform: translateY(-20px);
        font-size: large;
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .modal-close {
        position: absolute;
        top: -30px;
        right: 0;
    }
    
    #modal:not(:target) {
        visibility: hidden;
        opacity: 0;
    }
    
    .instBtn a {
        color: #4ec736;
        text-decoration: none;
    }
    /* .inst li {} */